.razors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
  
.razor{
  background-color: white;
  padding: 1rem;
  text-align: center;
}

.razor img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
